docs-website/static/images/screenshots/*.png filter=lfs diff=lfs merge=lfs -text
docs-website/static/images/screenshots/*.jpg filter=lfs diff=lfs merge=lfs -text
docs-website/static/images/screenshots/*.gif filter=lfs diff=lfs merge=lfs -text
