{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database={{.ProjectName}};Username={{.ProjectName}};Password=localdev"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.EntityFrameworkCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
