{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database={{.ProjectName}};Username={{.ProjectName}};Password=localdev"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Information",
      "Microsoft.EntityFrameworkCore": "Information"
    }
  }
}
