# Database
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database={{.ProjectName}};Username={{.ProjectName}};Password=localdev

# ASP.NET
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:5000
